<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>

<body>
<div class="login-container">
    <img src="/image.png" alt="로고" class="logo-img">
    <h2>로그인</h2>

    <form id="loginForm">

        <input type="text" id="username" name="username" placeholder="아이디">
        <input type="password" id="password" name="password" placeholder="비밀번호">

        <button type="submit" class="login-btn">로그인</button>
    </form>

    <!-- 텍스트 링크 형태 하단 메뉴 -->
    <div class="text-links">
        <a th:href="@{/find-password}">비밀번호 찾기</a>
        <span>|</span>
        <a th:href="@{/find-id}">아이디 찾기</a>
        <span>|</span>
        <a href="#">회원가입</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/login.js"></script>
</div>

</body>

</html>
